html, body{
	margin: 0;
	padding: 0;
}

*{
	box-sizing: border-box;
}

body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: sans-serif
}

h1 {
	font-size: 3rem;
	margin-top: 3rem;

}
#app {
	max-width: 1200px;
	width: 100%;
	margin: auto;
}

button {

	padding: 1rem 2rem;
	cursor: pointer;
	margin: 2rem auto;
	width: 100%;
	border: none;
	background-color: #ff6600;
}
article{

	background-color: #fafafa;

	&:nth-of-type(even){
		background-color: #f6f6ef;
	}

	.header{
		display: flex;
		flex-direction: row;
		align-items: center;
		cursor: pointer;
		padding: 1rem;

		.title{
			margin-right: 2rem;
		}

		.replies{
			font-family: monospace;
		}
	}

	

	.comment{
		display: none;

		.by{
			color: brown;
		}
	}

	&.js-active{
		.comment{
			display: block
		}
	}
}

.comment{
	padding: 1rem 1rem 1rem 3rem;

	p{
		margin: 0;
		padding: 0;
	}
}